*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }

body{
    font-family: "Arial Black", sans-serif;
    background-image: url(top-view-movie-reels-with-copy-space.jpg);
    background-size: cover;
    background-attachment: fixed;
    
}
    
    .nav{
        background-color:  rgba(87, 141, 125, 0.911);
        display: flex;
        justify-content: space-between;
        padding: 7vh;
    }

        .underline-reveal {
            position: relative;
            }
            
            .underline-reveal::before {
            content: '';
            position: absolute;
            width: 0;
            height: 1px;
            background-color: #fff;
            bottom: -1px;
            left: 0;
            transition: width 0.3s ease-in-out;
            }
            
            .underline-reveal:hover::before {
            width: 100%;
            }

        .nav a{
            text-decoration: none;
            color: white;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 2.5vh;
        }

        .nav img{
            width: 5vh;
        }

    .textos{
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        text-align: right;
        padding: 20px;
    }

        .texto1,
        .texto2{
            margin: 10px;
        }


/* pantallas de 0 a 250px */
@media screen and (max-width: 360px) {
    .nav img {
        display: none;
    }

    .nav {
        flex-direction: column;
        align-items: center;
    }

    .nav a {
        margin: 5px 0;
    }


}

/*de 0 a 840*/
@media screen and (max-width: 840px) {
    .textos{
        color: rgb(99, 68, 141);
        background-color:rgba(123, 202, 180, 0.616);
    }
}