*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }


  body {
    font-family: Arial, sans-serif;
    background-image: url(3896.jpg);
    background-size: cover;
    background-attachment: fixed;
    }

    .nav{
        background-color: rgba(224, 165, 212, 0.911);
        display: flex;
        justify-content:space-between;
        padding: 7vh;
    }

        .nav a{
            text-decoration: none;
            color: white;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 2.5vh;
        }

        .nav img{
            width: 5vh;
        }

            .underline-reveal {
                position: relative;
            }
            
            .underline-reveal::before {
            content: '';
            position: absolute;
            width: 0;
            height: 1px;
            background-color: #fff;
            bottom: 1px;
            left: 0;
            transition: width 0.3s ease-in-out;
            }
            
            .underline-reveal:hover::before {
            width: 100%;
            }

    .card:hover {
        transform: scale(1.05); 
        transition: transform 0.3s ease; 
    }

    .tarjetas img{
        width: 100%;
    }


    .form{
        background-color: rgba(240, 240, 240, 0.9);
        padding: 10vh;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        margin-top: 10vh;
        font-family: Arial, Helvetica, sans-serif;
        margin-bottom: 5vh;
    }

        #boton{
            margin-bottom: 8vh;
            margin-top: 5vh;
            width: 30vh;
            height: 10vh;
            background-color: burlywood;
            align-self: center;
            transition: filter 0.3s;
        }

        .btn:hover {
            filter: brightness(0.9); 
        }

    .contenedortarjetas {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
        gap: 5px;
        margin: 20px;
    }
        .card img{
            max-width: 100%;
        }

        .card p{
            margin-bottom: 0vh;
        }


/* pantallas de 0 a 250px */
@media screen and (max-width: 360px) {
    .nav img {
        display: none;
    }

    .nav {
        flex-direction: column;
        align-items: center;
    }

    .nav a {
        margin: 5px 0;
    }
}